<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie List</title>
</head>

<body>
  <h3><a class="btn btn-secondary" href="/movie">Create New</a> Movie List</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Year</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      {{#each list}}
      <tr>
        <td>{{this.code}}</td>
        <td>{{this.name}}</td>
        <td>{{this.year}}</td>
        <td>{{this.rating}}</td>
        <td>
          <a class="btn btn-primary btn-sm" href="/movie/{{this.id}}">Edit</a>
          <a class="btn btn-primary btn-sm" href="/movie/delete/{{this.id}}" onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</body>

</html>